.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    .img {
        @include img-style;

    }

    .img-1 {
        background: url(../images/panda.jpg);
        @include img-style;
    }

    .img-2 {
        background: url(../images/dog.jpg);
        @include img-style;
    }

    .img-3 {
        background: url(../images/dog1.jpg);
        @include img-style;
    }

    .img-4 {
        background: url(../images/cat.jpg);
        @include img-style;
    }
}